body{
  margin: 0;
  padding: 0;
}
.intro{
  padding: 30px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
.txt {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.head {
  color: #000;
  font-size: 55px;
  font-weight: 700;
}
.head-2 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}
.txt-2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  max-width: 140px;
}
.image{
  width: 70%;
}
@media screen and (max-width: 768px) {
  .image-2 {
    display: none;
  }
  .txt {
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }
  .head {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
  .head-2 {
    color: #000;
    font-size: 15px;
    font-weight: 700;
  }

}
@media screen and (max-width: 576px){

  .txt {
    color: #000;
    font-size: 12px;
    font-weight: 400;
  }
  .head {
    color: #000;
    font-size: 26px;
    font-weight: 700;
  }
  .head-2 {
    color: #000;
    font-size: 12px;
    font-weight: 700;
  }
  .txt-2{
    font-size: 10px;
    width: 90px;
  }
}
@mixin createLayout($size) {
  @for $i from 1 to 13 {
    .col-#{$size}-#{$i} {
      width: #{calc(100% / 12 * $i)};
    }
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  @include createLayout("sm");
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  @include createLayout("md");
}
/* lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  @include createLayout("lg");
}

/* xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }

  @include createLayout("xl");
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding-right: calc(1.5rem * 0.7);
    padding-left: calc(1.5rem * 0.7);
  }

  @include createLayout("");
}
